accelerate
annotated-doc
annotated-types
anyio
bitsandbytes
blis
boto3
botocore
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
cymem
diffusers
dotenv
easyocr
filelock
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
importlib_metadata
Jinja2
jmespath
Levenshtein
loguru
markdown-it-py
MarkupSafe
mdurl
mpmath
murmurhash
networkx
numpy
packaging
pillow
preshed
psutil
pydantic
pydantic_core
Pygments
python-dateutil
python-dotenv
PyYAML
RapidFuzz
regex
requests
rich
s3transfer
safetensors
setuptools
shellingham
six
smart_open
spacy
spacy-legacy
spacy-loggers
srsly
sympy
thinc
tokenizers
tqdm
transformers
typer
typer-slim
typing-inspection
typing_extensions
urllib3
uv
wasabi
weasel
win32_setctime
wrapt
zipp
